@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Oswald:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    
}


header {
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    background: #f3e2c7;
    border-top: 15px solid #c0b096;
    margin: 0;
    font-family: "Oswald";
    margin-bottom: 0%;
    border-bottom: 0px;
    display:flex;
    position: fixed;
    flex-wrap: nowrap;
}

.navBar {
    width: 100%;
    margin: 0px;
    height: 100%;
}
#pagIcon {
    height: 100%;
}
.navBarButton {
    background: #f3e2c7;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
    font-family: "Oswald";
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
}

.navBarButton:hover {
    color:black;
    z-index: 50;
    background: #f3e2c7;
    box-shadow: 0 8px 16px 0 #c0b096, 0 6px 20px 0 #c0b096;
    transition-duration: 0.4s;
    animation: 1s ms 1;
}

@keyframes ms {
    0%{
        opacity: 0;
        transform:scale(1.6)
    }
}
#menuPag {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
}
/*INDEX*/
.indexDivs, .destinosDiv {
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#indexDiv_1 {
    min-height: 100vh;
    width: 100%;
    margin-top: 54px;
    background-image: url(../imagenes/imagen1.JPG);
}
#indexDiv_2 {
    background-image: url(../imagenes/imagen2.JPG);
}
#indexDiv_3 {
    background-image: url(../imagenes/imagen3.JPG);

}
#indexDiv_4 {
    background-image: url(../imagenes/imagen4.JPG);

}
#indexDiv_5 {
    background-image: url(../imagenes/imagen5.JPG);

}

.interDivs, #parrafoPromociones, .interDivsDestinos {
    width: 100%;
    height: 170px;
    background-color: #fffffa;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Oswald";
    font-size: large;
}
.textDivitions, #titularPromocionesText, .destinosTitularDiv {
    text-align: center;
    padding: 18px;
    background-color: rgba(34, 33, 32, 0.5);
    color: white;
    font-size: 15px;
    font-family: "Oswald";
    letter-spacing: 10px;
}
/*Destinos*/

#destinosDiv1, #destinosDiv2, #destinosDiv3, #destinosDiv4, #destinosDiv5, #destinosDiv6, #destinosDiv7, #destinosDiv8 {
    min-height: 100vh;
    width: 100%;
}

#destinosDiv1 {
    margin-top: 54px;
    background-image: url(../imagenes/destinos1.jpg);
}
#destinosDiv2 {
    background-image: url(../imagenes/imagen3.JPG);
}
#destinosDiv3 {
    background-image: url(../imagenes/destinos3.jpg);
}
#destinosDiv4 {
    background-image: url(../imagenes/ImagenBGPromo.jpg);
}
#destinosDiv5 {
    background-image: url(../imagenes/destinos5.jpg);
}
#destinosDiv6 {
    background-image: url(../imagenes/destinos6.jpg);
}
#destinosDiv7 {
    background-image: url(../imagenes/destinos7.jpg);
}
#destinosDiv8 {
    background-image: url(../imagenes/destinos8.jpg);
}
/*Promociones*/
#bodyP3 {
    height: 100vh;
    font-family: "Oswald";
    
}

#titularPromociones {
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../imagenes/ImagenBGPromo.jpg);
}

#títuloPromocionesP3 {
    display: flex;
    justify-content: center;

}

#sectionPromociones {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: space-evenly;
    margin-bottom: 10px;

    
}
.promocionesP3 {
    border-top: 15px solid #c0b096;
    background-color: rgba(243, 226, 199, 0.5);
    border-radius: 10px;
    padding: 15px;
    width: 10%;
}

/*Reservas*/
#bodyP4 {
    height: 100vh;
    font-family: "Oswald";
    background-image: url(../imagenes/ImagenBGP4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed ;
}

#tituloReservas, #tituloContacto {
    margin-left: 10px;
}

#divFormReserva, #divContact, #patrocinador {
    background-color: rgba(243, 226, 199, 0.5);
    border-top: 5px solid #c0b096;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 104px;
    margin-left: 300px;
    margin-bottom: 40px;
    border-radius: 3px;

}
#reservasTitulo {
    margin-bottom: 10px;
    width: 100%;
}
#formReserva, #formContact {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.inputP4, .inputP5 {
    margin: 10px;
    border-radius: 4px;
    height: 50px;
}

.reservaSelect, #estadoCivilSelect {

    width: 287px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: Black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.p4Label, .p5Label {
    padding: 12px 12px 12px 0px;
    display:block;
    color: black;
    
}

#botonEnviarReserva, #botonEnviarContact {
    background-color: #c7f3db;
    margin-left: 80%;
    font-family: "Oswald";
    height: 40px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
#botonEnviarReserva:hover, #botonEnviarContact:hover {
    background-color:#96c0a9;
    cursor: pointer;

}
/*Contáctanos*/
#bodyP5 {
height: 100vh;
font-family: "Oswald";
background-image: url(../imagenes/ImagenesBGP5.jpg);
background-repeat: no-repeat;
background-attachment:fixed ;
}
.textAreaP5 {
    margin-left: 10px;
    margin-right: 10px;
}

#videoP5 {
    width: 100%;
    margin-bottom: 15px;
}

#helpWidgetButton {
    display:flex;
    justify-content: flex-end;
    padding-right: 35px;
    padding-bottom: 35px;
    z-index: 100;
    padding: 0; 
}
#helpButton {
    width: 45px;
    height: 45px;
    background-color:#f3e2c7;
    border-radius: 50%;
    background-image: url(../imagenes/helpIcon.svg);
    position: absolute;
    float: right;
    display:flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 54px;
    background-color: #c0b096;
    border-bottom: 15px solid #f3e2c7;
    font-style: default
}
/*los bordes se establecen con 3 valores
grosor (-width)
tipos de borde (border-style)
color (-color)*/
/* para resolver los problemas de superoposicion
z-index
menu
items primeros position relative
los segundos absolute
*/