@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Oswald:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    
}


header {
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    background: #f3e2c7;
    border-top: 15px solid #c0b096;
    margin: 0;
    font-family: "Oswald";
    margin-bottom: 0%;
    border-bottom: 0px;
    display:flex;
    position: fixed;
    flex-wrap: nowrap;
}

.navBar {
    width: 100%;
    margin: 0px;
    height: 100%;
}
#pagIcon {
    height: 100%;
}
.navBarButton {
    background: #f3e2c7;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
    font-family: "Oswald";
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
}

.navBarButton:hover {
    color:black;
    z-index: 50;
    background: #f3e2c7;
    box-shadow: 0 8px 16px 0 #c0b096, 0 6px 20px 0 #c0b096;
    transition-duration: 0.4s;
    animation: 1s ms 1;
}

@keyframes ms {
    0%{
        opacity: 0;
        transform:scale(1.6)
    }
}
#menuPag {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
}
/*INDEX*/
.indexDivs, .destinosDiv {
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#indexDiv_1 {
    min-height: 100vh;
    width: 100%;
    margin-top: 54px;
    background-image: url(../imagenes/imagen1.JPG);
}
#indexDiv_2 {
    background-image: url(../imagenes/imagen2.JPG);
}
#indexDiv_3 {
    background-image: url(../imagenes/imagen3.JPG);

}
#indexDiv_4 {
    background-image: url(../imagenes/imagen4.JPG);

}
#indexDiv_5 {
    background-image: url(../imagenes/imagen5.JPG);

}

.interDivs, #parrafoPromociones, .interDivsDestinos {
    width: 100%;
    height: 170px;
    background-color: #fffffa;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Oswald";
    font-size: large;
}
.textDivitions, #titularPromocionesText, .destinosTitularDiv {
    text-align: center;
    padding: 18px;
    background-color: rgba(34, 33, 32, 0.5);
    color: white;
    font-size: 15px;
    font-family: "Oswald";
    letter-spacing: 10px;
}
/*Destinos*/

#destinosDiv1, #destinosDiv2, #destinosDiv3, #destinosDiv4, #destinosDiv5, #destinosDiv6, #destinosDiv7, #destinosDiv8 {
    min-height: 100vh;
    width: 100%;
}

#destinosDiv1 {
    margin-top: 54px;
    background-image: url(../imagenes/destinos1.jpg);
}
#destinosDiv2 {
    background-image: url(../imagenes/imagen3.JPG);
}
#destinosDiv3 {
    background-image: url(../imagenes/destinos3.jpg);
}
#destinosDiv4 {
    background-image: url(../imagenes/ImagenBGPromo.jpg);
}
#destinosDiv5 {
    background-image: url(../imagenes/destinos5.jpg);
}
#destinosDiv6 {
    background-image: url(../imagenes/destinos6.jpg);
}
#destinosDiv7 {
    background-image: url(../imagenes/destinos7.jpg);
}
#destinosDiv8 {
    background-image: url(../imagenes/destinos8.jpg);
}
/*Promociones*/
#bodyP3 {
    height: 100%;
    font-family: "Oswald";
    
}

#titularPromociones {
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../imagenes/ImagenBGPromo.jpg);
}

#títuloPromocionesP3 {
    display: flex;
    justify-content: center;

}

#sectionPromociones {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: space-evenly;
    margin-bottom: 10px;

    
}
.promocionesP3 {
    border-top: 15px solid #c0b096;
    background-color: rgba(243, 226, 199, 0.5);
    border-radius: 10px;
    padding: 15px;
    
}

/*Reservas*/
#bodyP4 {
    height: 100vh;
    font-family: "Oswald";
    background-image: url(../imagenes/ImagenBGP4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed ;
}

#tituloReservas, #tituloContacto, #tituloMapa {
    margin-left: 10px;
}

#reservasTitulo {
    margin-bottom: 10px;
    width: 100%;
}
#formReserva, #formContact {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.inputP4, .inputP5 {
    margin: 10px;
    border-radius: 4px;
    height: 50px;
}

.reservaSelect, #estadoCivilSelect {

    width: 287px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: Black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.p4Label, .p5Label {
    padding: 12px 12px 12px 0px;
    display:block;
    color: black;
    
}

#botonEnviarReserva, #botonEnviarContact {
    background-color: #c7f3db;
    margin-left: 80%;
    font-family: "Oswald";
    height: 40px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
#botonEnviarReserva:hover, #botonEnviarContact:hover {
    background-color:#96c0a9;
    cursor: pointer;

}
/*Contáctanos*/
#bodyP5 {
height: 100%;
font-family: "Oswald";
background-image: url(../imagenes/ImagenesBGP5.jpg);
background-repeat: no-repeat;
background-attachment:fixed ;
}
.textAreaP5 {
    margin-left: 10px;
    margin-right: 10px;
}
.listaContacto {
    font-weight: bold;
}
#videoP5 {
    width: 100%;
    margin-bottom: 15px;
}

/*HELP BUTTON*/
#helpWidgetButton {
    display:flex;
    justify-content: flex-end;
    padding-right: 35px;
    padding-bottom: 35px;
    z-index: 100;
    padding: 0; 
}
#helpButton {
    width: 45px;
    height: 45px;
    background-color: rgba(243, 226, 199, 0.5);
    border-radius: 50%;
    background-image: url(../imagenes/helpIcon.svg);
    position: absolute;
    float: right;
    display:flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 54px;
    background-color: #c0b096;
    border-bottom: 15px solid #f3e2c7;
    font-style: default
}

@media (max-width: 480px) {
    #hambMenuIcon {
        max-height: 100%;
        padding-top: 1px;
    }
    #menuPag {
        display: none;
        flex-direction: column;
        box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.4);
    }
    #respMenu:checked ~ ul{
        display: flex;
        flex-direction: column;
        background-color: #f3e2c7;
    }

    #respMenu {
        display: none;
    }
    #labelRespMenu {
        box-sizing: border-box;
        display: flex;
        justify-content: center;        
        border-radius: 5px;
        width:50px ;
        height: 50px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
    }
    .navBarButton {
        display: block;
        width: 100%;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid black;
    }
    header {
        flex-direction: row-reverse;
    }

    #pagIcon {
        justify-items: center;
    }
    footer {
        font-size: small;
        max-width: 100%;
    }
    /*Promociones*/
    #sectionPromociones {
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        max-width: 100%;
    }
    #mainPromociones {
        max-width: 100%;
    }
    .promocionesP3 {
        max-width: 100%;
        margin: 15px;
    }

    /*CONTÁCTANOS*/
    #bodyP5 {
        background-position: center;
    }
    #mainContact {
        max-width: 100%;

    }
    #divContact {
        align-items: center;
        max-width: 100%;
    }
    #formContact {
        max-width: 100%;
    }
    #divFormReserva, #divContact, #patrocinador, #contactosAlternativos, #asideContactanos {
        background-color: rgba(243, 226, 199, 0.5);
        margin-top: 64px;
    }
    #tituloMapa, .listaContacto {
        font-weight: bold;
    }
    #ubicacionReal {
        max-width: 100%;
    }
    .p5Label {
        font-weight: bold;
    }

}

@media (min-width: 481px) and (max-width:1023px) {
    #hambMenuIcon {
        max-height: 100%;
        padding-top: 1px;
    }
    #menuPag {
        display: none;
        flex-direction: column;
        box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.4);
        width: 55%;
    }
    #respMenu:checked ~ ul{
        display: flex;
        flex-direction: column;
        background-color: #f3e2c7;
    }

    #respMenu {
        display: none;
    }
    #labelRespMenu {
        box-sizing: border-box;
        display: flex;
        justify-content: center;        
        border-radius: 5px;
        width:50px ;
        height: 50px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
    }
    .navBarButton {
        display: block;
        width: 100%;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid black;
    }
    header {
        flex-direction: row-reverse;
    }
    /*PROMOCIONES Y RESERVA*/
   #sectionPromociones {
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        max-width: 100%;
    }

    #mainPromociones {
        max-width: 100%;
    }
    .promocionesP3 {
        max-width: 100%;
        margin: 15px;
        width: 40%
    }
    #bodyP5 {
        background-position: center;
    }
    #mainContact {
        max-width: 100%;

    }
    #divContact {
        align-items: center;
        max-width: 100%;
    }
    #formContact {
        max-width: 100%;
    }
    #divFormReserva, #divContact, #patrocinador, #contactosAlternativos, #asideContactanos {
        background-color: rgba(243, 226, 199, 0.5);
        margin-top: 64px;
    }
    #tituloMapa, .listaContacto {
        font-weight: bold;
    }
    #ubicacionReal {
        max-width: 100%;
    }
    .p5Label {
        font-weight: bold;
    }


}

@media (min-width:1024px) {
    #hambMenuIcon {
        display: none;
    }
    #respMenu {
        display: none;
    }
    #divFormReserva, #divContact {
        background-color: rgba(243, 226, 199, 0.5);
        border-top: 5px solid #c0b096;
        width: 30%;
        display: flex;
        flex-direction: column;
        margin-top: 104px;
        margin-left: 200px;
        margin-bottom: 40px;
        border-radius: 3px;
    }
    #patrocinador, #mapaUbicacion, #contactosAlternativos {
        background-color: rgba(243, 226, 199, 0.5);
        border-top: 5px solid #c0b096;
        width:60%;
    }
    #mapaUbicacion, #contactosAlternativos {
        margin-top: 104px;
    }


    /*Contactanos*/
    /*GRID AREAS*/
    #bodyP5 {
        display: grid;
        grid-template-areas: 
        "headercontact headercontact"
        "maincontact mapacontact"
        "maincontact contactalt"
        "maincontact sectionpatrocinador"
        "footercontact footercontact"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3.443% 1fr 1fr 1fr 3.443%;
    }
    #mainContact, #asideContactanos, #sectionPatrocinador,  #contactosAlternativos {
        max-width: 100%;
        max-height: 100%;
    }
    #patrocinador, #contactosAlternativos, #divContact {
        width: 60%;
    }
    
    /*Nombres Grid Areas*/
    #headerContacto {
        grid-area: headercontact;
    }

    #mainContact {
        grid-area: maincontact;

    }

    #asideContactanos {
        grid-area: mapacontact;

    }

    #sectionPatrocinador {
        grid-area: sectionpatrocinador;

    }

    #contactosAlternativos {
        grid-area: contactalt;
    }

    #footerContacto {
        grid-area: footercontact;
    }
    /*FIN NOMBRES GRIDAREAS*/

    #mapaUbicacion {
        padding: 5px;
        width: 60%;
    }
    #ubicacionReal {
        max-width: 100%;
    }
    #contactosAlternativos {
        height: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #tituloAlternativos{
        padding: 15px;
    }
    #listaAlternativos {
        padding-left: 35px;
    }

    /*PROMOCIONES*/
    .promocionesP3 {
        width: 10%;
    }
}
